@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
	font-family: Sora;
}

body {
	background-color: #121212;
	color: #949497;
	min-height: 100vh;
}
.top {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.allstats {
	display: flex;
	gap: 12px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.best {
	display: flex;
	align-items: center;
}
.difficulty {
	display: flex;
	gap: 12px;
	align-items: center;
}
.btntop {
	background: none;
	border: 1px solid #717178;
	color: white;
	border-radius: 8px;
	height: max-content;
}
.btntop:focus {
	color: #4ca6ff;
	border-color: #4ca6ff;
}
.whitetxt {
	color: white;
}
.start {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
	border: none;
}
.startbtn {
	background-color: #177dff;
	color: white;
	border: none;
	padding: 12px;
	border-radius: 8px;
}
hr {
	width: 90%;
	border: none;
	height: 1px;
	background-color: #3a3a3a;
}
dialog {
	background: transparent;
	border: none;
	backdrop-filter: blur(5px);
	height: 100%;
}
.word span {
	color: #777;
}

.correct {
	color: #4caf50;
}

.wrong {
	color: #ff4d4d;
}

#divplay {
	outline: none;
}
#backDiv {
	position: relative;
	width: 100%;
}

#spn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #6b7280;
	line-height: 2rem;
	user-select: none;
	white-space: pre-wrap;
}

#divplay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	outline: none;
	background: transparent;
	color: transparent;
	caret-color: white;
	line-height: 2rem;
}
#restartbtn {
	background-color: #262626;
	border: none;
	border-radius: 8px;
	padding: 12px;
	color: white;
	position: absolute;
	bottom: 20px;
	left: 100px;
}
.wpm {
    border-right: 1px solid #3A3A3A;
    padding: 0 20px;
}
.time {
    border-left: 1px solid #3A3A3A;
    padding: 0 20px;
}